<html>
<head data-template="lib:include" data-template-path="templates/header.html">    
    <title data-target="title-template" data-template-page="letter">Bullinger Digital: Brief</title>
    <meta data-target="title-template" name="pb-template" content="letter.html"/>
    <meta data-target="title-template" name="description" content="Bullinger Digital Letter View"/>
</head>
<body>
    <pb-page data-template="pages:pb-page" unresolved="unresolved">
        <pb-document id="document1" data-template="pages:pb-document"/>
        <header class="top-header">
            <nav data-template="lib:include" data-template-path="templates/menu.html"></nav>
        </header>
        <main class="center-l">
            <section class="pageWrapper">
                <header>
                    <pb-view id="metadata" src="document1" view="single" use-language="use-language" emit="metadata" subscribe="transcription" load-css="resources/css/bullinger-shadow.css">
                        <pb-param name="view" value="metadata"/>
                    </pb-view>
                </header>
            </section>
            <section class="text">
                <div class="pageWrapper">
                    <div class="transkription card">
                        <h2>Transkription <span data-template="app:transcription-source"></span> 
                          <small class="small-t"><label for="lang-toggle"><input type="checkbox" name="lang-toggle" id="lang-toggle" value="test" /> Show Language</label></small></h2>
                        <pb-view id="view1" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription"/>
                        <pb-view id="facsimile-links" src="document1" xpath="//facsimile" view="single" wait-for="#facsimile" emit="transcription">
                            <pb-param name="view" value="facsimile"/>
                        </pb-view>
                    </div>
                    <div class="facsimile card">
                        <h2>Faksimile <span data-template="app:facsimile-source"></span></h2>
                        <div id="facsimile-status" style="display:none;">Für diesen Brief ist kein Facsimile verfügbar.</div>
                        <pb-facsimile id="facsimile"
                            default-zoom-level="0"
                            show-sequence-control="	show-sequence-control"
                            show-navigation-control="show-navigation-control"
                            show-navigator="show-navigator"
                            show-full-page-control="show-full-page-control"
                            reference-strip="reference-strip"
                            reference-strip-size-ratio="0.1"
                            subscribe="transcription"></pb-facsimile>
                    </div>
                </div>
            </section>
        </main>
        <footer data-template="lib:include" data-template-path="templates/footer.html"></footer>
    </pb-page>
    <script src="resources/scripts/app.js"></script>
</body>
</html>