<html data-template="lib:parse-params">
    <head data-template="lib:include" data-template-path="templates/header.html">        
        <title data-target="title-template" data-template-page="locality">Bullinger Digital: Ort</title>
        <meta data-target="title-template" name="pb-template" content="locality.html"/>
        <script data-target="script-preload" type="module" src="pb-leaflet-map.js" data-template="pages:load-components"></script>
    </head>

    <body data-template="app:load-locality">
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" require-language="require-language" unresolved="unresolved" api-version="1.0.0">
            <header class="top-header">
                <nav data-template="lib:include" data-template-path="templates/menu.html"></nav>
            </header>
            <main class="detail detail-locality center-l">
                <section class="left">
                    <h1 id="locality">
                        <span data-template="app:locality-name"> </span>
                    </h1>
                    <div data-template="app:show-map">
                        <pb-leaflet-map id="map" zoom="13" subscribe="map" emit="map" cluster="" latitude="47.3686498" longitude="8.5391825">
                            <pb-map-layer show="" 
                                base="" 
                                label="Mapbox OSM"
                                url="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token={accessToken}"
                                max-zoom="19" 
                                access-token="pk.eyJ1Ijoid29sZmdhbmdtbSIsImEiOiJjam1kMjVpMnUwNm9wM3JwMzdsNGhhcnZ0In0.v65crewF-dkNsPF3o1Q4uw" 
                                attribution="© Mapbox © OpenStreetMap">
                            </pb-map-layer>
                        </pb-leaflet-map>
                    </div>
                </section>
                <section class="bottom">
                    <pb-custom-form class="facets" auto-submit="[name=view]" event="pb-results-received" subscribe="grid" emit="grid">
                        <div class="radios">
                            <label>
                                <input type="radio" name="view" checked="checked" value="all" data-template="templates:form-control"/> <pb-i18n key="registers.correspondenceAndMentions">(Korrespondenz und Erwähnungen)</pb-i18n>
                            </label>
                            <label>
                                <input type="radio" name="view" value="correspondence" data-template="templates:form-control"/> <pb-i18n key="registers.correspondence">(Korrespondenz)</pb-i18n>
                            </label>
                        </div>
                    </pb-custom-form>
                    <pb-table-grid source="api/locality/${key}" resizable="" emit="grid" subscribe="grid" per-page="10" search="" data-template="pages:parse-params">                        
                        <pb-table-column label="Brief" property="title" sort=""></pb-table-column>
                        <pb-table-column label="Absender" property="senders" sort=""></pb-table-column>
                        <pb-table-column label="Absender Ort " property="place" sort=""></pb-table-column>
                        <pb-table-column label="Datum" property="date" sort=""></pb-table-column>
                        <pb-table-column label="Empfänger" property="recipients" sort=""></pb-table-column>
                        <pb-table-column label="Empfänger Ort" property="recipients-place" sort=""></pb-table-column> 
                    </pb-table-grid>
                </section>
            </main>
        </pb-page>
        <footer data-template="templates:include" data-template-path="templates/footer.html"/>
    </body>
</html>