<html data-template="lib:parse-params">
    <head data-template="lib:include" data-template-path="templates/header.html">        
        <title data-target="title-template" data-template-page="locality">Bullinger Digital: Ort</title>
        <meta data-target="title-template" name="pb-template" content="locality.html"/>
        <script data-target="script-preload" type="module" src="pb-leaflet-map.js" data-template="pages:load-components"></script>
    </head>

    <body data-template="app:load-locality">
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" require-language="require-language" unresolved="unresolved" api-version="1.0.0">
            <header class="top-header">
                <nav data-template="lib:include" data-template-path="templates/menu.html"></nav>
            </header>
            <main class="detail detail-locality center-l">
                <section class="left">
                    <h1 id="locality">
                        <span data-template="app:locality-name"> </span>
                    </h1>
                    <div data-template="app:show-map"></div>
                    <script>
                        window.addEventListener('load', function() {
                            const map = document.querySelector('pb-leaflet-map');
                            console.log(`pb-leaflet-map is ready`);
                            console.log("coordinates: ", map.getAttribute("latitude"), map.getAttribute("longitude"));
                            pbEvents.emit("pb-geolocation", "map", {
                                coordinates: {
                                    latitude: parseFloat(map.getAttribute("latitude")),
                                    longitude: parseFloat(map.getAttribute("longitude"))
                                },
                                label: "",
                                zoom: "13",
                            });
                        });

                    </script>
                </section>
                <section class="bottom">
                    <pb-custom-form class="facets" auto-submit="[name=view]" event="pb-results-received" subscribe="grid" emit="grid">
                        <div class="radios">
                            <label>
                                <input type="radio" name="view" checked="checked" value="all" data-template="templates:form-control"/> <pb-i18n key="registers.correspondenceAndMentions">(Korrespondenz und Erwähnungen)</pb-i18n>
                            </label>
                            <label>
                                <input type="radio" name="view" value="correspondence" data-template="templates:form-control"/> <pb-i18n key="registers.correspondence">(Korrespondenz)</pb-i18n>
                            </label>
                        </div>
                    </pb-custom-form>
                    <pb-table-grid source="api/locality/${key}" resizable="" subforms=".facets" emit="grid" subscribe="grid" per-page="10" search="" data-template="pages:parse-params">                        
                        <pb-table-column label="registers.details-letters.title" property="title" sort=""></pb-table-column>
                        <pb-table-column label="registers.details-letters.senders" property="senders" sort=""></pb-table-column>
                        <pb-table-column label="registers.details-letters.place" property="place" sort=""></pb-table-column>
                        <pb-table-column label="registers.details-letters.date" property="date" sort=""></pb-table-column>
                        <pb-table-column label="registers.details-letters.recipients" property="recipients" sort=""></pb-table-column>
                        <pb-table-column label="registers.details-letters.recipients-place" property="recipients-place" sort=""></pb-table-column> 
                    </pb-table-grid>
                </section>
            </main>
        </pb-page>
        <footer data-template="templates:include" data-template-path="templates/footer.html"/>
    </body>
</html>