<html data-template="app:load-person">
    <head data-template="lib:include" data-template-path="templates/header.html">
        <title data-target="title-template" data-template="app:page-title" data-template-page="person"> </title>
        <meta data-target="title-template" name="pb-template" content="person.html"/>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" require-language="require-language" unresolved="unresolved" api-version="1.0.0">
            <header class="top-header">
                <nav data-template="lib:include" data-template-path="templates/menu.html"></nav>
            </header>
            <main class="detail detail-name center-l">
                <section class="left">
                    <h1 id="person">
                        <span data-template="app:person-name-full"> </span>
                    </h1>
                    <div data-template="app:name-alternatives"/>
                    <div data-template="app:further-information"/>

                </section>
                <section class="right">
                    <div data-template="app:image"/>
                </section>
                <section class="bottom">
                    <div data-template="app:mentions-of-person"/>
                    <details data-template="app:person-is-sender">
                        <summary><pb-i18n key="letters-from">Briefe von</pb-i18n> <span data-template="app:person-name-full"/></summary>                        
                        <pb-table-grid source="api/person/sent/${key}" resizable="" emit="grid" subscribe="grid" per-page="10" data-template="pages:parse-params">
                            <pb-table-column label="Brief" property="title" sort=""></pb-table-column>
                            <pb-table-column label="Absender Ort" property="place" sort=""></pb-table-column>
                            <pb-table-column label="Datum" property="date" sort=""></pb-table-column>
                            <pb-table-column label="Empfänger" property="recipients" sort=""></pb-table-column>
                            <pb-table-column label="Empfänger Ort" property="recipients-place" sort=""></pb-table-column>
                        </pb-table-grid>
                    </details>
                    <details data-template="app:person-is-recipient">
                        <summary><pb-i18n key="letters-to">Briefe an</pb-i18n> <span data-template="app:person-name-full"/></summary>
                        <pb-table-grid source="api/person/received/${key}" resizable="" emit="grid" subscribe="grid" per-page="10" data-template="pages:parse-params">                        
                            <pb-table-column label="Brief" property="title" sort=""></pb-table-column>
                            <pb-table-column label="Absender" property="senders" sort=""></pb-table-column>
                            <pb-table-column label="Absender Ort " property="place" sort=""></pb-table-column>
                            <pb-table-column label="Datum" property="date" sort=""></pb-table-column>
                            <pb-table-column label="Empfänger Ort" property="recipients-place" sort=""></pb-table-column> 
                        </pb-table-grid>
                    </details>

                </section>
            </main>
        </pb-page>
        <footer data-template="templates:include" data-template-path="templates/footer.html"/>        
        <div class="splash"></div>        
    </body>

</html>