<html data-template="app:load-person">
    <head data-template="lib:include" data-template-path="templates/header.html">
        <title data-target="title-template" data-template-page="person">Bullinger Digital: Person</title>
        <meta data-target="title-template" name="pb-template" content="person.html"/>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" require-language="require-language" unresolved="unresolved" api-version="1.0.0">
            <header class="top-header">
                <nav data-template="lib:include" data-template-path="templates/menu.html"></nav>
            </header>
            <main class="detail detail-name center-l">
                <section class="left">
                    <h1 id="person" data-template="app:person-name-full"></h1>
                    <section class="person-meta">
                        <div data-template="app:further-information"></div>
                        <div data-template="app:person-letters-sent"></div>
                        <div data-template="app:person-letters-received"></div>
                        <div data-template="app:person-letters-total"></div>
                        <div data-template="app:person-letters-mentions"></div>
                    </section>
                    <div id="metagrid-widget">
                        <div id="metagrid-widget-gnd" style="display:none" data-template="app:person-gnd"></div>
                        <ul></ul>
                        <div class="metagrid-credit">Links powered by <a href="https://www.metagrid.ch" target="_blank">Metagrid</a> – die Vernetzungsinitiative der SAGW</div>
                    </div>
                    <script>
                        // We're not using the official metagrid widget because there is no way to hide the widget completely if no links are available
                        const gndId = document.querySelector('#metagrid-widget-gnd').innerText;
                        if(gndId) {
                            fetch(`https://api.metagrid.ch/widget/gnd/person/${gndId}.json?include=false&amp;language=de`)
                            .then(response => response.json())
                            .then(data => {
                                if(!data[0]  || !Object.keys(data[0]).length) {
                                    return;
                                }
                                const links = Object.entries(data[0]);
                                const linkList = document.querySelector('#metagrid-widget > ul');
                                links.forEach(([key, value]) => {
                                    // Hide histhub links
                                    if(key === 'histhub') {
                                        return;
                                    }
                                    const link = document.createElement('li');
                                    const a = document.createElement('a');
                                    a.href = value;
                                    a.target = '_blank';
                                    a.innerText = key;
                                    link.appendChild(a);
                                    linkList.appendChild(link);
                                });
                                document.getElementById('metagrid-widget').style.display = 'block';
                            });
                        }
                    </script>
                    <div data-template="app:name-alternatives"></div>
                </section>
                <section class="right">
                    <div data-template="app:image"></div>
                </section>
                <section class="bottom">
                    <!-- <fx-fore>
                        <h2>Filter</h2>
                        <fx-trigger>
                            <button>Absender</button>
                            <fx-toggle case="ft-sender"> </fx-toggle>
                        </fx-trigger>
                        <fx-trigger>
                            <button>Empfänger</button>
                            <fx-toggle case="ft-recipient"> </fx-toggle>
                        </fx-trigger>
                        <fx-switch>
                            <fx-case id="ft-sender">
                                <fx-control ref="sender">
                                    <label>Absender</label>
                                 </fx-control>
                            </fx-case>
                            <fx-case id="ft-recipient">
                                <fx-control ref="recipient">
                                    <label>Empfänger</label>
                                 </fx-control>
                            </fx-case>
                        </fx-switch>
                    </fx-fore> -->
                    <!-- <pb-custom-form id="facets" url="api/show-facets/persons" event="pb-results-received" subscribe="grid" emit="grid" use-language="use-language" data-template="pages:parse-params"/> -->
                    <pb-custom-form class="facets" event="pb-results-received" subscribe="grid" emit="grid">
                        <div class="radios">
                            <label>
                                <input type="radio" name="view" checked="checked" value="all" data-template="templates:form-control"/> <pb-i18n key="registers.correspondenceAndMentions">(Korrespondenz und Erwähnungen)</pb-i18n>
                            </label>
                            <label>
                                <input type="radio" name="view" value="correspondence" data-template="templates:form-control"/> <pb-i18n key="registers.correspondence">(Korrespondenz)</pb-i18n>
                            </label>
                        </div>
                    </pb-custom-form>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const form = document.querySelector('pb-custom-form');
                            const radios = document.querySelectorAll('pb-custom-form input[type="radio"]');
                            radios.forEach(radio => {
                                radio.addEventListener('change', function() {
                                    form.submit()
                                });
                            });
                        });
                    </script>
                    <pb-table-grid source="api/person/${key}" resizable="" emit="grid" subscribe="grid" per-page="10" search="" data-template="pages:parse-params">
                        <pb-table-column label="registers.details-letters.title" property="title" sort=""></pb-table-column>
                        <pb-table-column label="registers.details-letters.senders" property="senders" sort=""></pb-table-column>
                        <pb-table-column label="registers.details-letters.place" property="place" sort=""></pb-table-column>
                        <pb-table-column label="registers.details-letters.date" property="date" sort=""></pb-table-column>
                        <pb-table-column label="registers.details-letters.recipients" property="recipients" sort=""></pb-table-column>
                        <pb-table-column label="registers.details-letters.recipients-place" property="recipients-place" sort=""></pb-table-column>
                    </pb-table-grid>
                    <div style="margin-top: 15px;">
                        <div data-template="app:bio-footnotes"></div>
                    </div>
                </section>
            </main>
        </pb-page>
        <footer data-template="templates:include" data-template-path="templates/footer.html"/>        
        <script>
            const facets = document.getElementById('facets');
            if (facets) {
                facets.addEventListener('pb-custom-form-loaded', function(ev) {
                    const elems = ev.detail.querySelectorAll('.facet, pb-combo-box');
                    elems.forEach(function(facet) {
                        facet.addEventListener('change', function() {
                            const table = facet.closest('table');
                            if (table) {
                                const nested = table.querySelectorAll('.nested .facet').forEach(function(nested) {
                                    if (nested != facet) {
                                        nested.checked = false;
                                    }
                                });
                            }
                            facets._submit();
                        });
                    });
                });
            }
        </script>
    </body>

</html>