<html data-template="app:load-person">
    <head data-template="lib:include" data-template-path="templates/header.html">
        <title data-target="title-template" data-template-page="person">Bullinger Digital: Person</title>
        <meta data-target="title-template" name="pb-template" content="person.html"/>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" require-language="require-language" unresolved="unresolved" api-version="1.0.0">
            <header class="top-header">
                <nav data-template="lib:include" data-template-path="templates/menu.html"></nav>
            </header>
            <main class="detail detail-name center-l">
                <section class="left">
                    <h1 id="person" data-template="app:person-name-full"></h1>
                    <section class="person-meta">
                        <div data-template="app:further-information"></div>
                        <div data-template="app:person-letters-sent"></div>
                        <div data-template="app:person-letters-received"></div>
                        <div data-template="app:person-letters-mentioned"></div>
                    </section>
                    <div data-template="app:name-alternatives"></div>
                </section>
                <section class="right">
                    <div data-template="app:image"></div>
                </section>
                <section class="bottom">
                    <!-- <fx-fore>
                        <h2>Filter</h2>
                        <fx-trigger>
                            <button>Absender</button>
                            <fx-toggle case="ft-sender"> </fx-toggle>
                        </fx-trigger>
                        <fx-trigger>
                            <button>Empfänger</button>
                            <fx-toggle case="ft-recipient"> </fx-toggle>
                        </fx-trigger>
                        <fx-switch>
                            <fx-case id="ft-sender">
                                <fx-control ref="sender">
                                    <label>Absender</label>
                                 </fx-control>
                            </fx-case>
                            <fx-case id="ft-recipient">
                                <fx-control ref="recipient">
                                    <label>Empfänger</label>
                                 </fx-control>
                            </fx-case>
                        </fx-switch>
                    </fx-fore> -->
                    <!-- <pb-custom-form id="facets" url="api/show-facets/persons" event="pb-results-received" subscribe="grid" emit="grid" use-language="use-language" data-template="pages:parse-params"/> -->

                    <pb-table-grid source="api/person/${key}" resizable="" emit="grid" subscribe="grid" per-page="7" search="" data-template="pages:parse-params">
                        <pb-table-column label="Brief" property="title" sort=""></pb-table-column>
                        <pb-table-column label="Absender" property="senders" sort=""></pb-table-column>
                        <pb-table-column label="Absendeort" property="place" sort=""></pb-table-column>
                        <pb-table-column label="Datum" property="date" sort=""></pb-table-column>
                        <pb-table-column label="Empfänger" property="recipients" sort=""></pb-table-column>
                        <pb-table-column label="Empfangsort" property="recipients-place" sort=""></pb-table-column>
                    </pb-table-grid>
                </section>
            </main>
        </pb-page>
        <footer data-template="templates:include" data-template-path="templates/footer.html"/>        
        <script>
            const facets = document.getElementById('facets');
            if (facets) {
                facets.addEventListener('pb-custom-form-loaded', function(ev) {
                    const elems = ev.detail.querySelectorAll('.facet, pb-combo-box');
                    elems.forEach(function(facet) {
                        facet.addEventListener('change', function() {
                            const table = facet.closest('table');
                            if (table) {
                                const nested = table.querySelectorAll('.nested .facet').forEach(function(nested) {
                                    if (nested != facet) {
                                        nested.checked = false;
                                    }
                                });
                            }
                            facets._submit();
                        });
                    });
                });
            }
        </script>
    </body>

</html>