#sourceDesc ul {
    padding-left:1rem;
}

#sourceDesc > div {
    display:table-row;    
} 

#sourceDesc > div:nth-child(odd) { 
    background:rgb(248,245,242);
} 

#sourceDesc > div > div {
    display:table-cell;
    padding:0.3rem;
} 
#sourceDesc > div > div:nth-child(1) {
    white-space:nowrap;
    padding-right:1rem;
}
#metaWrapper img {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}
.subtitle { 
    display: flex;
    align-items: center;
}

.subtitle .doc-type {
    border-radius: 0.75rem;
    background-color: rgba(210,218,212,1);
    margin-left: 1rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.subtitle #date-range {
    padding-right: 0.5rem;
}
.subtitle #map-near-me {
    padding-left:1rem;
    padding-right: 0.5rem;
    
}

@media (min-width: 769px) {
    #metaWrapper {
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        grid-gap:0.8rem;
        grid-template-areas:"one two" 
                            "three four"
                            "five six";
    }

    #metaWrapper section:nth-child(5){
        grid-area:six;
    }
}

.person {
    color:darkgreen;
}
.place {
    color:darkred;
}