#sourceDesc ul {
    padding-left:1rem;
}

#sourceDesc > div {
    display:table-row;    
} 

#sourceDesc > div:nth-child(odd) { 
    background:rgb(248,245,242);
} 

#sourceDesc > div > div {
    display:table-cell;
    padding:0.3rem;
} 
#sourceDesc > div > div:nth-child(1) {
    white-space:nowrap;
    padding-right:1rem;
}

@media (min-width: 769px) {
    #metaWrapper {
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        grid-gap:0.8rem;
        grid-template-areas:"one two" 
                            "three four"
                            "five six";
    }
    #metaWrapper > h1 {
        grid-area:one;
        grid-column:span 2 / auto;
    }
    .tei-teiHeader4 {
        grid-area:six;
    }
}