
#metaWrapper .metaregest.overlength{
    height:15rem;
    overflow:hidden;
}

#metaWrapper .metaregest ~ div,
#metaWrapper .overlength ~ div{
    width:100%;
    text-align:center;
    cursor:pointer;
    margin-top:0.2rem;
    border-top:thin solid #ccc;
}
#metaWrapper .metaregest ~ div:hover,
#metaWrapper .overlength ~ div:hover{
    background:#e9edea;
}


#metaWrapper .overlength ~ div::before {
    display: block;
    width: 100%;
    content: '';
    background: rgb(119,119,119);
    background: linear-gradient(180deg, rgba(200,200,200,-0.01) 0%, rgba(255,255,255,0.9) 100%);
    position: absolute;
    height: 6rem;
    bottom: 2rem;
}

@media (min-width: 769px) {
    #metaWrapper .overlength ~ div::before {
        bottom: 9rem;
    }

}