
#metaWrapper .overlength{
    height:15rem;
    overflow:hidden;
}

#metaWrapper .expander {
    width:100%;
    text-align:center;
    cursor:pointer;
    margin-top:0.2rem;
    border-top:thin solid #ccc;
    display:none;
}
#metaWrapper .overlength .expander {
    display:block;
}

#metaWrapper .expander:hover{
    background:#e9edea;
}

#metaWrapper .regesttext {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2rem;
}
 
#metaWrapper .metaregest {
    overflow:hidden;
}

#metaWrapper .expander::before {
    display: block;
    width: 100%;
    content: '';
    background: rgb(119,119,119);
    background: linear-gradient(180deg, rgba(200,200,200,-0.01) 0%, rgba(255,255,255,0.9) 100%);
    position: absolute;
    height: 6rem;
    bottom: 0rem;
}
