body * {
    font-family: Catamaran,sans-serif;
}

.menubar {
    width: 100%;
    background:white;
}
.toolbar {
    width: 100%;
    height:3rem;
    background:rgba(233,237,234);
}
.browseWrapper,
.searchWrapper,
.pageWrapper {
    max-width:80rem;
    margin:0 auto;
    display:block;
    padding:1rem;
    
}

.wrapper,
footer {
    max-width:80rem;
    margin:0 auto;
    display:flex;
    align-items: center;
    padding:1rem;
}

.wrapper pb-search {
    width: 10rem;
}

.menubar .wrapper *,
.menubar .wrapper a {
    display:inline-block;
}

pb-view {
    margin:0;
    padding:0;
}

.card pb-facsimile {
    height:70vh;

}
#facsimile-links {
    display:none;
}

#metadata {
    max-width:100%;
    min-height:100vh;
}
.search-panel {
    align-self:start;
}

.text {
    background-color:rgb(243,244,246);    
    height:80vh;
}
.transkription, 
.facsimile {    
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
    padding: 1rem;
    background-color: white;
    height:75vh;
}
.transkription pb-view {
    height:70vh;
    overflow:auto;
}

.whitespace {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (min-width: 769px) {
    main .card > pb-view {
        
    }

    #faksimile {
        align-self:start;    
    }
    main .wrapper,
    main .pageWrapper{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        grid-gap:0.8rem;
    }
    
    main .pageWrapper > header {
        grid-column:span 2 / auto;
    }
    main .searchWrapper {
        display:grid;
        grid-template-columns: 20rem auto;
        grid-gap:0.8rem;
    }
    #metadata{
        min-height:30vh;
    }
}

.logo {
    background-image: url("../images/bullinger-digital.svg");
}

.splash {
    background-image: url("../images/bullinger-digital.svg");
}

html body {
    --pb-menubar-background-color: #d1dae0;
    --pb-menubar-color: var(--pb-color-primary);
    --pb-lang-input-color: var(--pb-color-primary);
    --pb-lang-label-color: var(--pb-color-primary);

}
