
#metaWrapper .overlength{
    height:15rem;
    overflow:hidden;
}

#metaWrapper .expander {
    width:100%;
    text-align:center;
    cursor:pointer;
    margin-top:0.2rem;
    border-top:thin solid #ccc;
    display:none;
}
#metaWrapper .overlength .expander {
    display:block;
}

#metaWrapper .expander:hover{
    background:#e9edea;
}

#metaWrapper .regesttext {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2rem;
}
 
#metaWrapper .metaregest {
    overflow:hidden;
}

#metaWrapper .expander::before {
    display: block;
    width: 100%;
    content: '';
    background: rgb(119,119,119);
    background: linear-gradient(180deg, rgba(200,200,200,-0.01) 0%, rgba(255,255,255,0.9) 100%);
    position: absolute;
    height: 6rem;
    bottom: 0rem;
}


.portrait {
    position:relative;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display:inline-block;
    overflow:hidden;
    margin-left:-2rem;
    z-index: 10;
    outline: 2px solid #fff;
    border: 1px solid #000;
    transition: margin-left 0.2s;
}
.portrait:first-child {
    margin-left:0;
}
.portrait:hover {
    z-index:12;
}
.portrait img {
    width:100%;
    height:auto;
}

.portrait-container {
    text-align:right;
}
.portrait-container:hover .portrait {
    margin-left:-1rem;
}