@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,200;1,400;1,700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,700;1,200;1,400;1,700&display=swap");
@import "dropdown-css.css";
@import "fore.css";
@import "fore-custom.css";

:root {
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    --bb-header-height: 5rem;
    --bb-footer-height: 3rem;
    --bb-content-min-height: calc(100vh - var(--bb-footer-height) - var(--bb-header-height));

    --bb-font-family-serif: Source Serif Pro, serif;
    --bb-font-family-sans: Source Sans Pro, serif;

    --bb-font-weight-light: "200";
    --bb-font-weight-normal: "300";
    --bb-font-weight-medium: "400";
    --bb-font-weight-bold: "700";

    --bb-font-size-largest: 36px;
    --bb-font-size-larger: 24px;
    --bb-base-font-size: 1rem;
    --bb-font-size-small: 0.9rem;
    --bb-font-size-smallest: 0.8rem;
    
    --bb-white: #ffffff;
    --bb-page-bg-color: rgb(249, 250, 251);
    --bb-pale: #f0f0f0;
    --bb-light-gray: #ddd;
    --bb-dark-gray: #777;
    --bb-black: #303030;
    --bb-field-gray: rgb(233,237,234);
    --bb-beige: rgba(170,129,90);
    --bb-footer-color: var(--bb-white);
    --bb-lang-de-color: rgb(220, 249, 222);
    --bb-lang-el-color: rgb(250, 229, 235);
    --bb-lang-la-color: rgb(250, 244, 229);

    --pb-link-color: var(--bb-black);
    --pb-color-inverse: var(--bb-white);
    --pb-color-primary: var(--bb-black);
    --pb-color-lighter: var(--bb-dark-gray);
    --pb-color-focus: var(--bb-beige);
    --pb-menubar-background-color: var(--bb-white);
    --pb-lang-label-color: var(--bb-black);
    --pb-menubar-color: var(--pb-color-inverse);
    --pb-menubar-background-color: #d1dae0;
    --pb-color-focus: var(--gf-color-highlight);
    --pb-toolbar-background-color: var(--pb-color-inverse);
    --pb-toolbar-color: var(--pb-color-primary);
    --pb-lang-input-color: var(--pb-color-primary);
    --jinn-lightbox-bg:#000;
    --jinn-caption-bg:#000;
    --jinn-caption-color:#fff;
    --jinn-title-bg:#000;
    --jinn-title-color:#fff;

    --pb-base-font-family: var(--bb-font-family-sans);

    --pb-base-line-height: 1.42857143;
    --pb-base-font-weight: var(--bb-font-weight-normal);
    --pb-base-font: var(--pb-base-font-weight) var(--pb-base-font-size)/var(--pb-base-line-height) var(--pb-base-font-family);

    --pb-heading-font-family: var(--bb-font-family-serif);
    --pb-heading-font-weight: var(--gf-font-weight-bold);

    --pb-serif-font-family: serif;

    --pb-content-font-family: var(--pb-base-font-family);
    --pb-content-font-weight: var(--bb-font-weight-normal);
     
    --pb-footnote-font-size: var(--gf-font-size-smallest);
    --pb-footnote-font-family: var(--pb-content-font-family);

    --pb-link-font-family: var(--pb-base-font-family);
    
    --pb-popover-persistent: true;
    --pb-popover-touch: true;
}

body {
    --pb-color-focus: var(--bb-beige);
    --pb-base-font-family: var(--bb-font-family-sans);
    --pb-heading-font-family: var(--bb-font-family-serif);
    --pb-logo-image-width: 16rem;
    --pb-menubar-color: var(--pb-color-primary);
    --pb-lang-input-color: var(--pb-color-primary);
    --pb-lang-label-color: var(--pb-color-primary);
    --pb-base-font-size: var(--pb-font-size-base);
    --pb-content-font-size: var(--bb-font-size-base);
    --pb-content-font-family: var(--pb-base-font-family);
    padding: 0;
    hyphens: auto;
    font-size: var(--pb-base-font-size);
    font-family: var(--pb-base-font-family);
    background-color: var(--bb-page-bg-color);
}

pb-page[unresolved]~.splash {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
.splash {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background-color: var(--bb-white);
    background-position: center center;
    background-size: var(--pb-splash-image-size);
    background-repeat: no-repeat;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.center-l {
    box-sizing: content-box;
    max-width: 78rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--s0);
    padding-right: var(--s0);
}

.wrapper,
footer {
    box-sizing: content-box;
    border-block-start: thin solid var(--bb-field-gray);
    background-color: var(--bb-footer-color);
    margin: 0;
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
    height: var(--bb-footer-height);
    font-size: var(--bb-font-size-small);
}

.wrapper pb-search {
    width: 10rem;
}


.mobile {
    width: 100%;
    display: flex;
    justify-content: end;
}

.mobile-menu [icon="close"]{
    display: none;
}
.mobile-menu[open] [icon='menu']{
    display: none;
}
.mobile-menu[open] [icon="close"]{
    display: block;
}
[icon="menu"], [icon="close"]{
    align-self: center;
    justify-self: end;
    cursor:pointer;
    position: absolute;
    right:1rem;
    top:2rem;
    z-index: 10;
}
[icon="menu"]:hover,
[icon="close"]:hover
{
    background: var(--bb-light-gray);
    /*
    transform:scale(1.5);
    transition: 0.4s;
    */
}

.mobile-menu summary{
    list-style: none;
}
.mobile-menu summary::-webkit-details-marker {
    display: none;
}

.mobile-menu section{
    position: fixed;
    right: 0;
    top: 0;
    width: 16rem;
    height: 100vh;
    background: white;
    border-left: thin solid var(--bb-light-gray);
    z-index: 5;
    padding-left: 1rem;
}
.mobile-menu header{
    height:5.5rem;
    border-bottom: thin solid var(--bb-light-gray);
    font-size:2rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    color:#554;
}
.mobile-menu section div{
    overflow:auto;
    height:calc(100% - 2.5rem);
}
.mobile-menu li{
    list-style: none;
    padding: 0.125em 0;
}
.menubar .mobile-menu .lang-selector{
    height: auto;
    width:auto;
    justify-content: left;
    margin:0;
    align-items: center;
    gap:0.5em;
    margin-bottom: 1em;
}

.top-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1500; /* elevate over map */
    background-color: var(--bb-white);
    border-bottom: medium solid var(--bb-field-gray);
}

.menubar .menubar-left {
    margin-left: var(--s0);
    margin-right: var(--s0);
}

.menubar .lang-selector {
    margin-left: 1rem;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 4rem;
    color: var(--gf-black);
}

.menubar .lang-selector a,
.menubar .lang-selector a:link,
.menubar .lang-selector a:visited,
.menubar .lang-selector a:active {
    margin-left: 0;
    margin-right: 0;
}

.menubar .lang-selector a.active {
    color: var(--bb-dark-gray);
}

.menubar {
    display: flex;
    height: var(--bb-header-height);
    justify-content: start;
    background-color: var(--bb-white);
    color: var(--pb-menubar-color);
    font-size: var(--pb-base-font-size);
    font-family: var(--pb-content-font-family);
    --pb-search-suggestions-color: var(--pb-menubar-color);
    --pb-search-suggestions-background: var(--pb-menubar-background-color);
}

.menubar a,
.menubar a:link,
.menubar a:hover {
    text-decoration: none;
    font-size: var(--pb-base-font-size);
    font-family: var(--pb-base-font-family);
    color: var(--bb-black);
    align-self: center;
    white-space: nowrap;
}
.menubar a:focus{
    text-decoration: underline;
}

.menubar .dropdown-menu a{
    margin:0;
}
.menubar .dropdown-menu a:hover{
    background: var(--bb-light-gray);
}

.menubar .dropdown-menu {
    font-size: var(--pb-base-font-size);
    color: var(--bb-black);
    margin-left: var(--s-2);
    margin-right: var(--s-2);
}

.menubar details a {
    border-bottom: thin var(--bb-light-gray) solid;
    margin: auto .25rem;
    display: block;
}

.menubar details.mobile-menu a,
.menubar details.mobile-menu p{
    font-size: 1.4rem;
    line-height: 1.5;
}
.menubar details.mobile-menu p{
    border-bottom: thin solid var(--bb-light-gray);
}
.menubar details.mobile-menu a{
    border:none;
    margin: 0;
}
.menubar details.mobile-menu a:hover{
    text-decoration: underline;
}

.menu-right.dropdown-menu{
    justify-content: end;
    flex-grow: 3;
}

main {
    --main-padding: 3rem;
    box-sizing: content-box;
    margin-top: 0;
    padding-top: calc(var(--bb-header-height) + var(--main-padding));
    padding-bottom: var(--main-padding);
    min-height: calc(var(--bb-content-min-height) - 2 * var(--main-padding));
    --pb-browse-toolbar-justify-content: space-between;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: var(--bb-beige);
}

main .panels .doclist {
    --paper-tab-content: {
        font-family: var(--pb-heading-font-family);
        font-weight: 400;
    };
    --paper-card-header: {
        background-color: #607D8B;
    };
    --paper-card-header-text: {
        font-family: var(--pb-heading-font-family);
        font-size: 16px;
        font-weight: 400;
        color:var(--bb-white);
    };
}

.documents ul {
    list-style: none;
}

.documents div {
    margin: 0;
}

.documents .error {
    color: #c02020;
}

.documents a,
.documents a:visited {
    color: #303F9F;
    text-decoration: none;
}

.documents li {
    display: grid;
    grid-template-columns:9rem auto;
    grid-gap:1rem;
    margin-bottom: 10px;
    padding: 6px 0;
    border-bottom: thin solid var(--paper-grey-300);
}

.documents li:last-child {
    border: none;
}
li.document{
    display:flex;
    flex-wrap:wrap;
    margin-bottom: 10px;
    padding: 6px 0;
    border-bottom: thin solid var(--paper-grey-300);
    padding-bottom:1rem;
    max-width:calc(100% - 1rem);
    gap:1em;
    position: relative;
}

.documents .document-select {
    flex: 0 0;
    margin-right: 20px;
}

.document-info{
    width:70%;
    min-width: min(28em,100%);

}
pb-collapse > div{
    font-size:1.2rem;
    padding:0.5rem 0;
}

.thumbnail{
    width: 8em;
    height: 8em;
    width:8em;
    background-repeat: no-repeat ;
    background-position: center center;
    background-size: cover;
    box-shadow:2px 2px 4px rgba(33,33,33,0.5);
    position:relative;
}
.thumbnail img {
    border-radius:35px;
    border-color: #19232d;
    border-style: groove;
    box-shadow: 1px 1px 1px 1px  #19232d;
}

.thumbnail.demo{
    background-image: url(../images/chris-lawton-zvKx6ixUhWQ-unsplash.jpg);
}
.thumbnail.play{
    background-image: url(../images/nick-monica-FSQhX5lrkIg-unsplash.jpg);
}
.thumbnail.docs{
    background-image: url(../images/html-css-collage-concept-with-person.jpg);
    filter:brightness(1.2);
}
.thumbnail.annotate{
    background-image: url(../images/business-woman-working-office-desktop.jpg);
}
.thumbnail.markdown{
    background-image: url(../images/closeup-computer-keyboard.jpg);
}
.thumbnail.jats{
    background-image: url(../images/pile-colorful-magazines-table.jpg);
}

.attribution{
    position: absolute;
    bottom: 1rem;
    font-size: 0.6em;
    left: 0;
    color: blue;
    background: rgba(255,255,255,0.6);
    padding: 0 0.375em;
    border-top-left-radius: 0.25em;
}

.facets{
    font-size: 0.8em;
    min-width:initial;
}

@media (max-width: 1023px) {
    .doclist {
        margin-bottom: 20px;
    }
    .documents {
        padding-left: 10px;
    }
    .documents li{
        display:block;
    }
    .documents li .thumbnail{
        display:block;
    }
    .documents .label {
        display: none;
    }
    .toolbar pb-search {
        padding-left: 0;
    }
    #facets {
        display: none;
    }
    app-header-layout {
        background-repeat-y: no-repeat;
    }

    nav #login{
        border-bottom: 1px solid;
        padding-bottom:1rem;
        margin-bottom:1rem;
    }

    nav a,
    nav paper-item{
        display:flex;
        font-size:1.2rem;
        min-height:2.5rem;
        align-items:center;
        font-weight:inherit;
    }
    nav paper-menu-button{
        padding:0;
    }

    .github{
        margin-top:1rem;
        padding-top:1rem;
    }
    .github > span{
        padding-left:0.5rem;
    }

}

.tp-title {
    font-family: var(--pb-heading-font-family);
    font-size: 36px;
    font-weight: 400;
}

.tp-title span {
    color: #9e9e9e;
    font-size: 26px;
    margin-top: 12px;
}

@media (min-width: 1024px) {
    .toolbar {
        display: none;
    }
    .panels {
        display: grid;
        grid-template-columns: 20% auto;
        column-gap: var(--s2);
    }
}

/* needs to be inline within a custom-style element to work - see index.html header
main .panels .doclist {
    --paper-tab-content: {
        font-family: var(--pb-heading-font-family);
        font-weight: 400;
    };
    --paper-card-header: {
        background-color: #607D8B;
    };
    --paper-card-header-text: {
        font-family: var(--pb-heading-font-family);
        font-size: 16px;
        font-weight: 400;
        color:white;
    };
}
*/

.panels .doclist .card-content {
    padding: 0;
}

.panels .doclist .browse {
    display: grid;
    grid-template-columns: minmax(9rem, 20%) minmax(60%,80%);
    column-gap: 6px;
    padding: 0 0.25em;
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* needs to be inline within a custom-style element to work - see index.html header
aside .odds,
aside .upload {
    --paper-card-header: {
        background-color: #d1dae0;
        color:black;
    };
    --paper-card-header-text: {
        font-family: var(--pb-heading-font-family);
        font-size: 16px;
        font-weight: 400;
        color: black;
    };
}
*/

aside .upload {
    margin-bottom: 20px;
    width: 100%;
}

.browse aside {
    padding: 0 8px;
    border-right:2px solid #efefef;
}

pb-select {
    margin-top: 0;
}

#document-list {
    margin-top: 1rem;
}

.parent-link iron-icon {
    padding-right: 4px;
}

.parent-link {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 0;
}

.documents img, .documents svg {
    margin-right: 40px;
}

@media (max-width: 480px) {
    .facets table td{
        font-size:0.5em;
    }
}
@media (max-width: 768px) {
    h3 paper-checkbox{
        display:none;
    }

    .facets table td:nth-child(1){
        width:40%;
        font-size:0.75em;
    }

}
@media (max-width: 1023px) {
    .documents img, .documents svg  {
        display: none;
    }
}


.drawer-content iron-icon,
.drawer-content .github-mark{
    width:1.25rem;
    height:1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--pb-heading-font-family);
    font-weight: 400 !important;
    line-height: 1.2;
}

h5 {
    font-size: 1rem;
    margin: 0;
}

.small-t {
    font-size: var(--bb-font-size-small);
}

.github{
    border-top:1px solid;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    min-height: 15vh;
    width: 100%;
    grid-gap:0.5rem;
    max-width: calc(100vw - 2rem);
}

.side {
    max-width: 20em;
    padding-left: 2em;
    justify-self:end;
    color:white;
    background:rgba(53,66,75,0.75);
    box-shadow:2px 1px 2px rgba(53,66,75,0.85);
}

.side strong {
    color: var(--pb-color-focus);
}


/* hide Download menu button */
#download-button, .menu-edit-odd {
    display: none;
}
pb-manage-odds{
    --pb-manage-odds-link-color:black;
    --pb-manage-odds-icon-color:#555;
}

@media (max-width: 440px) {
    pb-paginate::part(count) {
        display: none;
    }
}


.homepage h1 {
    font-size: 2.5rem;
}

pb-view {
    margin:0;
    padding:0;
}

.card pb-facsimile {
    height:70vh;

}
#facsimile-links {
    display:none;
}

#metadata {
    max-width:100%;
    min-height:100vh;
}
.search-panel {
    align-self:start;
}

.text {
    background-color:rgb(243,244,246);
    height:80vh;
}
.transkription,
.facsimile {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
    padding: 1rem;
    background-color: white;
    height:75vh;
}
.transkription pb-view {
    height:70vh;
    overflow:auto;
}

.whitespace {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.register-list {
    display: grid;
    --pb-categorized-list-columns: 3;
}

.register-list iron-icon {
    --iron-icon-height: 22px;
    --iron-icon-fill-color: var(--gf-light-gray);
    --iron-icon-stroke-color: transparent;
    float:left;
}

.register-list pb-custom-form {
    justify-self: start;
    max-width: 25rem;
    width: 100%;
}

.register__localities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
}

.register__localities .register-list {
    --pb-categorized-list-columns: 1;
}

.register__localities pb-leaflet-map {
    margin-top: 5rem;
    width: 100%;
    height: 50vh;
}

.detail-locality pb-leaflet-map {    
    width: 100%;
    height: 50vh;
}

.detail .right {
    max-width: 32rem;
}

[slot=controls] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

pb-split-list {
    min-height: 50vh;
}

pb-split-list::part(items),
pb-split-list::part(category),
pb-split-list::part(active-category) {
    font-family: var(--pb-base-font-family);
}

/* Q: how to narrow space between header items?
pb-split-list::part(category),
pb-split-list::part(active-category) {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 1rem;
    background: green;
} */

pb-split-list::part(category) {
    color: var(--bb-dark-gray);
}

pb-split-list::part(active-category) {
    color: var(--bb-black);
}

pb-split-list::part(items) {
    margin-top: 1em;
}

.itemList {
    max-width: 24rem;
}


.place pb-leaflet-map {
    height: 30vh;
    width: 100%;
}

@media (min-width: 769px) {
    main .card > pb-view {
        
    }

    #faksimile {
        align-self:start;    
    }
    main .wrapper,
    main .pageWrapper{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        grid-gap:0.8rem;
    }
    
    main .pageWrapper > header {
        grid-column:span 2 / auto;
    }
    main .searchWrapper {
        display:grid;
        grid-template-columns: 20rem auto;
        grid-gap:0.8rem;
    }
    #metadata{
        min-height:30vh;
    }
}

.logo {
    background-image: url("../images/bullinger-digital.svg");
}

.splash {
    background-image: url("../images/bullinger-digital.svg");
}
