<html data-template="lib:parse-params">
    <head data-template="lib:include" data-template-path="templates/header.html">
        <title data-target="title-template" data-template-page="archives">Archive</title>
        <meta data-target="title-template" name="pb-template" content="archives.html"/>        
    </head>

    <body>
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" require-language="require-language" unresolved="unresolved" api-version="1.0.0">
            <header class="top-header">
                <nav data-template="lib:include" data-template-path="templates/menu.html"></nav>
            </header>
            <main class="register register__archives center-l">
                <div class="register-list">
                    <h1>Archives</h1>
                    <pb-table-grid source="api/register/archives" resizable="" emit="grid" subscribe="grid" per-page="200">
                        <pb-table-column label="Archiv" property="archive" sort=""></pb-table-column>
                        <pb-table-column label="Webseite" property="link"></pb-table-column>
                        <pb-table-column label="Anzahl Dokumente" property="document-count" sort=""></pb-table-column>
                    </pb-table-grid>
                </div>
            </main>
        </pb-page>
        <footer data-template="templates:include" data-template-path="templates/footer.html"/>
        <div class="splash"></div>       
    </body>

</html>