<footer>
    <p class="center-l">
        <pb-i18n key="footer.text">(footer.text)</pb-i18n>
        <span class="whitespace"> | </span>
        <a href="content/contact"><pb-i18n key="footer.contact">(footer.contact)</pb-i18n></a>
        <span class="whitespace"> | </span>
        <a href="content/data-usage"><pb-i18n key="footer.privacy">(footer.privacy)</pb-i18n></a>
        <span class="whitespace"> | </span>
        <a href="content/imprint"><pb-i18n key="footer.imprint">(footer.imprint)</pb-i18n></a>
    </p>
</footer>
