<footer data-template="pages:parse-params">
    <p class="center-l">
        <pb-i18n key="footer.contact">(footer.contact)</pb-i18n>: <a href="mailto:staatsarchivzh@ji.zh.ch">staatsarchivzh@ji.zh.ch</a>
        <span class="whitespace"> | </span>
        <a href="${app}/static/privacy"><pb-i18n key="footer.privacy">(footer.privacy)</pb-i18n></a>
        <span class="whitespace"> | </span>
        <a href="${app}/static/disclaimers"><pb-i18n key="footer.disclaimers">(footer.disclaimers)</pb-i18n></a>
    </p>
</footer>
