<head>
    <meta charset="utf-8"/>
    <title id="title-template"></title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" />
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico" />
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24" />
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald" />
    <link rel="stylesheet" href="resources/css/theme.css" />
    <link rel="stylesheet" href="resources/css/bullinger-theme.css" />
    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components" ></script>
    <script type="module" src="pb-tify.js" data-template="pages:load-components" ></script>
    <script type="module" src="resources/scripts/fore-dev.js"></script>    
    <script src="resources/scripts/menu.js"></script>

    <script id="script-preload"></script>

    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//matomo.sources-online.org/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '9']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>
