<html>
    <head data-template="lib:include" data-template-path="templates/header.html">
        <title data-target="title-template" data-template-page="index">Bullinger Digital</title>
        <meta data-target="title-template" name="pb-template" content="index.html"/>
    </head>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved"
                locales="resources/i18n/{{ns}}/{{lng}}.json"
                require-language="require-language" locale-fallback-ns="app">
            <header class="top-header">
                <nav data-template="lib:include" data-template-path="templates/menu.html"></nav>
            </header>
            <main class="center-l indexpage">
                <h1 class="tp-title">Willkommen bei der Demo-Version von Bullinger Digital</h1>
                <p>Hier zeigen wir, wie Bullinger Digital im TEI-Publisher aussehen und funktionieren könnte. 
                    Bitte beachten Sie, dass diese Version im Aufbau ist und nicht die aktuellen Daten enthält. 
                </p>
                <p>Die offizielle Projektwebsite mit den aktuellen Daten und dem vollständigen Online-Suchsystem 
                    finden Sie unter <a href="www.bullinger-digital.ch">www.bullinger-digital.ch</a>.
                </p>
                <h3><a href="letters.html">Zur Demo-Version</a></h3>
            </main>
            <footer data-template="lib:include" data-template-path="templates/footer.html"/> 
        </pb-page>
        <div class="splash" />
    </body>
</html>
