<html>
    <head data-template="lib:include" data-template-path="templates/header.html">
        <title data-target="title-template" data-template-page="index">Homepage</title>
        <meta data-target="title-template" name="pb-template" content="index.html"/>
    </head>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved"
                locales="resources/i18n/{{ns}}/{{lng}}.json"
                require-language="require-language" locale-fallback-ns="app">
            <header class="top-header">
                <nav data-template="lib:include" data-template-path="templates/menu.html"></nav>
            </header>
            <main class="indexpage">            
                <h1 class="tp-title">Willkommen bei Bullinger Digital</h1>
                <p>Heinrich Bullinger (1504-1575) war Mitarbeiter und Nachfolger von Huldrych Zwingli
                    in Zürich und ein wichtiger Multiplikator für die Ideen der Reformation in der Schweiz und in
                    Europa. Von Bullinger ist ein umfangreicher Briefwechsel mit rund 10'000 Briefen an und 2'000
                    Briefen von Bullinger erhalten. Dieser Briefwechsel wird im Projekt "Bullinger Digital" (seit
                    2020) digital erschlossen, in XML ausgezeichnet, in einer Datenbank zusammengeführt und über ein
                    Online-Suchsystem zugänglich gemacht.</p>
                <p>Bitte beachten Sie, dass das Suchsystem noch im Aufbau
                    ist und laufend Korrekturen, Änderungen und Ergänzungen vorgenommen werden.</p>
                <h3><a href="letters.html">Online-Suchsystem</a></h3>
            </main>
            <footer data-template="lib:include" data-template-path="templates/footer.html"/> 
        </pb-page>
        <div class="splash" />
    </body>
</html>