<html>
    <head data-template="lib:include" data-template-path="templates/header.html">
        <title data-target="title-template" data-template-page="index">Bullinger Digital</title>
        <meta data-target="title-template" name="pb-template" content="index.html"/>
    </head>
    <body>
        <pb-page id="pb-page-home" data-template="pages:pb-page" unresolved="unresolved"
                locales="resources/i18n/{{ns}}/{{lng}}.json"
                require-language="require-language" locale-fallback-ns="app">
            <header class="top-header">
                <nav data-template="lib:include" data-template-path="templates/menu.html"></nav>
            </header>
            <main class="center-l indexpage">
                <pb-load url="api/content/home" auto="" use-language="true">Loading...</pb-load>
            </main>
            <footer data-template="lib:include" data-template-path="templates/footer.html"/> 
        </pb-page>
        <script src="./resources/scripts/home.js" type="text/javascript"></script>
    </body>
</html>
