<html>
    <head data-template="lib:include" data-template-path="templates/header.html">
        <title data-target="title-template" data-template-page="letters">Briefe</title>
        <meta data-target="title-template" name="pb-template" content="letters.html"/>
    </head>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json" locale-fallback-ns="app">
            <header class="top-header">
                <nav data-template="lib:include" data-template-path="templates/menu.html" />
            </header>
            <main class="center-l">
                <section>
                    <h1 class="tp-title" data-template="config:app-title"/>
                </section>
                <section class="panels">
                    <aside data-template="browse:form">
                        <!--pb-custom-form class="options" auto-submit="[name=sort]" emit="search"-->
                        <pb-custom-form class="options">
                            <input type="hidden" name="collection" value="${collection}" data-template="pages:parse-params"/>
                            <pb-select label="browse.sort" name="sort" value="${sort}" data-template="pages:parse-params">
                                <paper-item value="title"><pb-i18n key="browse.title"></pb-i18n></paper-item>
                                <paper-item value="author"><pb-i18n key="browse.author"></pb-i18n></paper-item>
                            </pb-select>
                            <pb-select label="search.scope" name="field" value="${field}" data-template="pages:parse-params">
                                <paper-item value="text"><pb-i18n key="search.content"></pb-i18n></paper-item>
                                <paper-item value="title"><pb-i18n key="search.title"></pb-i18n></paper-item>
                            </pb-select>
                        </pb-custom-form>
                        <pb-search id="search-form" subscribe="docs" data-template="pages:parse-params" value="${query}"
                            subforms=".facets,.options" submit-on-load="submit-on-load">
                            <paper-button slot="searchButton"><pb-i18n key="search.search">Search</pb-i18n></paper-button>
                        </pb-search>
                        <pb-custom-form id="facets" class="facets" url="api/search/facets" event="pb-results-received" subscribe="docs" emit="docs"></pb-custom-form>
                    </aside>
                    <div id="document-list">
                        <pb-paginate id="paginate" per-page="10" range="5" subscribe="docs" emit="docs"></pb-paginate>
                        <pb-load url="api/collection/{collection}" expand="" emit="search"></pb-load>
                        <!--pb-browse url="api/collection" emit="search"></pb-browse-->
                    </div>
                </section>
            </main>
            <footer data-template="lib:include" data-template-path="templates/footer.html"></footer>
        </pb-page>
        <div class="splash"></div>
        <script src="resources/scripts/browse.js"></script>
    </body>
</html>