<html>

<head data-template="lib:include" data-template-path="templates/header.html">
    <title data-target="title-template" data-template-page="letters">Bullinger Digital: Briefe</title>
    <meta data-target="title-template" name="pb-template" content="letters.html" />
</head>
<body>
    <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json"
        locale-fallback-ns="app" require-language="require-language">
        <header class="top-header">
            <nav data-template="lib:include" data-template-path="templates/menu.html"></nav>
        </header>
        <main class="center-l">
            <h1 class="tp-title">
                <pb-i18n key="app-title">app-title</pb-i18n>
            </h1>
            <section class="panels">
                <aside data-template="browse:form">
                    <pb-custom-form class="options">
                        <input type="hidden" name="collection" value="${collection}" data-template="pages:parse-params"/>
                        <pb-select label="search.scope" name="field" value="${field}" data-template="pages:parse-params">
                            <!-- <paper-item value="title">
                                <pb-i18n key="search.title">Titel</pb-i18n>
                            </paper-item> -->
                            <paper-item value="text" selected="">
                                <pb-i18n key="search.fulltext">(Brieftext)</pb-i18n>
                            </paper-item>
                            <paper-item value="regest">
                                <pb-i18n key="search.regest">(Regest)</pb-i18n>
                            </paper-item>
                            <paper-item value="footnotes">
                                <pb-i18n key="search.footnotes">(Footnotes)</pb-i18n>
                            </paper-item>
                            <paper-item value="print-literature">
                                <pb-i18n key="search.print-literature">(Gedruckt und Literatur)</pb-i18n>
                            </paper-item>
                            <paper-item value="notes">
                                <pb-i18n key="search.notes">(Notizen / Hinweise)</pb-i18n>
                            </paper-item>
                            <paper-item value="fnhd-normalization">
                                <pb-i18n key="search.fnhd-normalization">(Normalisiertes Deutsch)</pb-i18n>
                            </paper-item>
                        </pb-select>
                    </pb-custom-form>
                    <pb-search id="search-form" subscribe="search" data-template="pages:parse-params" value="${query}"
                        subforms=".facets,.options" submit-on-load="submit-on-load">
                        <div style="display:flex; justify-content: space-between;">
                            <paper-button slot="searchButton" class="btn-search"><pb-i18n key="search.search">Search</pb-i18n></paper-button>
                            <pb-popover theme="light">
                                <iron-icon icon="info" style="color: #AFAFAF" />
                                <div slot="alternate">
                                    <pb-load url="api/content/search-keyword-help" auto="" use-language="true">Loading...</pb-load>
                                </div>
                            </pb-popover>
                        </div>
                    </pb-search>

                    <pb-custom-form id="facets" class="facets" url="api/search/facets" event="pb-results-received"
                        subscribe="search" emit="search" />
                </aside>

                <div id="document-list">
                    <pb-paginate id="paginate" per-page="20" range="5" subscribe="search" emit="search"></pb-paginate>
                    <pb-load url="api/collection/{collection}" expand="" emit="search" use-language=""></pb-load>
                </div>
            </section>
        </main>
        <footer data-template="lib:include" data-template-path="templates/footer.html"></footer>
    </pb-page>
    <script src="resources/scripts/browse.js"></script>
</body>
</html>