<html>

<head data-template="lib:include" data-template-path="templates/header.html">
    <title data-target="title-template" data-template-page="letters">Bullinger Digital: Briefe</title>
    <meta data-target="title-template" name="pb-template" content="letters.html" />
</head>
<body>
    <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json"
        locale-fallback-ns="app" require-language="require-language">
        <header class="top-header">
            <nav data-template="lib:include" data-template-path="templates/menu.html"></nav>
        </header>
        <main class="center-l">
            <h1 class="tp-title">
                <pb-i18n key="app-title">app-title</pb-i18n>
            </h1>
            <div class="timeline">
                <pb-timeline url="api/timeline" scopes="[&#34;D&#34;, &#34;M&#34;, &#34;Y&#34;, &#34;5Y&#34;, &#34;10Y&#34;]" resettable="" max-interval="80" subscribe="search" emit="timeline">
                    <span slot="label">
                        <pb-i18n key="search.displayed-period">(Displayed Period)</pb-i18n>: </span>
                </pb-timeline>
                <pb-custom-form id="timeline-options" emit="search" style="display: none">
                    <input type="hidden" name="dates" value="${dates}" data-template="pages:parse-params" />
                </pb-custom-form>
            </div>
            <section class="panels">
                <aside data-template="browse:form">
                    <pb-custom-form class="options">
                        <input type="hidden" name="collection" value="${collection}" data-template="pages:parse-params"/>
                        <pb-select label="search.scope" name="field" value="${field}" data-template="pages:parse-params">
                            <!-- <paper-item value="title">
                                <pb-i18n key="search.title">Titel</pb-i18n>
                            </paper-item> -->
                            <paper-item value="text" selected="">
                                <pb-i18n key="search.fulltext">(Brieftext)</pb-i18n>
                            </paper-item>
                            <paper-item value="regest">
                                <pb-i18n key="search.regest">(Regest)</pb-i18n>
                            </paper-item>
                            <paper-item value="footnotes">
                                <pb-i18n key="search.footnotes">(Footnotes)</pb-i18n>
                            </paper-item>
                            <paper-item value="print-literature">
                                <pb-i18n key="search.print-literature">(Gedruckt in)</pb-i18n>
                            </paper-item>
                            <paper-item value="notes">
                                <pb-i18n key="search.notes">(Notizen / Hinweise)</pb-i18n>
                            </paper-item>
                            <paper-item value="fnhd-normalization">
                                <pb-i18n key="search.fnhd-normalization">(Normalisiertes Deutsch)</pb-i18n>
                            </paper-item>
                        </pb-select>
                    </pb-custom-form>
                    <pb-search id="search-form" subscribe="search" data-template="pages:parse-params" value="${query}"
                        subforms=".facets,.options,#timeline-options" submit-on-load="submit-on-load">
                        <div style="display:flex; justify-content: space-between;">
                            <div class="flex">
                                <paper-button slot="searchButton" class="btn-search"><pb-i18n key="search.search">Search</pb-i18n></paper-button>
                                <a class="btn-search-reset" href="./letters.html"><pb-i18n key="search.reset">(Zurücksetzen)</pb-i18n></a>
                            </div>
                            <div>
                                <pb-popover theme="light" placement="bottom">
                                    <iron-icon icon="info-outline" style="color: #AFAFAF" />
                                    <div slot="alternate">
                                        <pb-load url="api/content/search-keyword-help" auto="" use-language="true">Loading...</pb-load>
                                    </div>
                                </pb-popover>
                                <pb-popover theme="light" placement="bottom">
                                    <iron-icon icon="code" style="color: #AFAFAF" />
                                    <div slot="alternate">
                                        <div style="margin-bottom: 5px">
                                            <pb-i18n key="search.special-characters">(Spezielle Zeichen einfügen)</pb-i18n>
                                        </div>
                                        <button onclick="javascript:bullingerSearchInsertCharacter('ę')">ę</button>
                                        <button onclick="javascript:bullingerSearchInsertCharacter('uͦ')">uͦ</button>
                                        <button onclick="javascript:bullingerSearchInsertCharacter('uͤ')">uͤ</button>
                                        <button onclick="javascript:bullingerSearchInsertCharacter('aͤ')">aͤ</button>
                                        <script>
                                            // Attaching listeners to the buttons does not seem to work, so we have to use inline JS
                                            document.bullingerSearchInsertCharacter = function (character) {
                                                const formElement = document.querySelector('#search-form');
                                                const searchElement = formElement.shadowRoot.querySelector('#search');
                                                const input = searchElement.shadowRoot.querySelector('input[name="query"]');
                                                input.value += character;
                                            }
                                        </script>
                                    </div>
                                </pb-popover>
                            </div>
                        </div>
                    </pb-search>
                    <pb-custom-form id="facets" class="facets" url="api/search/facets" event="pb-results-received"
                        subscribe="search" emit="search" />
                </aside>

                <div id="document-list">
                    <pb-paginate id="paginate" per-page="20" range="5" subscribe="search" emit="search"></pb-paginate>
                    <pb-load url="api/collection/{collection}" expand="" emit="search" use-language=""></pb-load>
                </div>
            </section>
        </main>
        <footer data-template="lib:include" data-template-path="templates/footer.html"></footer>
    </pb-page>
    <script src="resources/scripts/browse.js"></script>
    <script src="resources/scripts/timeline.js"></script>
    <script src="resources/scripts/additional-facets-trigger.js"></script>
</body>
</html>