<section class="menubar">
    <div class="wrapper">
        <a href="${app}/index.html" class="logo" data-template="lib:parse-params"/>
        <pb-media-query query="min-width: 1024px">
            <a href="${app}/index.html" data-template="lib:parse-params">Home</a>
            <a href="${app}/letters.html" data-template="lib:parse-params">Briefe</a>
                
            <pb-restricted login="login">
                <paper-menu-button>
                    <a href="#" slot="dropdown-trigger"><pb-i18n key="menu.admin.title">Admin</pb-i18n></a>
                    <paper-listbox slot="dropdown-content">
                        <paper-item data-template="pages:edit-odd-list"/>
                        <paper-item>
                            <pb-download url="api/apps/download">
                                <pb-i18n key="appgen.xar-download">Download App as .xar</pb-i18n>
                            </pb-download>
                        </paper-item>
                        <paper-item>
                            <a href="${app}/api.html" data-template="lib:parse-params" target="_blank">API Documentation</a>
                        </paper-item>
                    </paper-listbox>
                </paper-menu-button>
            </pb-restricted>
        </pb-media-query>

        <!-- Search input -->
        <pb-search action="${app}/search.html" data-template="lib:parse-params" value="${query}" redirect="redirect" label=""/>
        <pb-login id="login" group="tei"> </pb-login>    
    </div>
</section>