<nav class="menubar center-l" data-template="pages:parse-params">
    <a href="${app}/index.html" class="logo" data-template="lib:parse-params"/>
    <pb-media-query class="menubar-left desktop" query="min-width: 48rem">
        <ul class="dropdown-menu">
            <li>
                <a href="${app}/letters.html">
                    <pb-i18n key="letters">Briefe</pb-i18n>
                </a>
            </li>
            <li>
                <a tabindex="0"><pb-i18n key="register">Register</pb-i18n></a>
                <ul>
                    <li><a href="${app}/persons/">
                        <pb-i18n key="menu.persons">Personen</pb-i18n>
                    </a></li>
                    <li><a href="${app}/localities/">
                        <pb-i18n key="menu.localities">Orte</pb-i18n>
                    </a></li>
                    <li><a href="${app}/organizations/">
                        <pb-i18n key="menu.organizations">Institutionen / Gruppen</pb-i18n>
                    </a></li>
                    <li><a href="${app}/archives/">
                        <pb-i18n key="menu.archives">Archive</pb-i18n>
                    </a></li>
                    <li><a href="${app}/bibliography/">
                        <pb-i18n key="menu.bibliography">Bibliography</pb-i18n>
                    </a></li>
                </ul>
            </li>
            <li>
                <a tabindex="0"><pb-i18n key="menu.about-parent">(About-Parent)</pb-i18n></a>
                <ul>
                    <li><a href="${app}/static/about-project">
                        <pb-i18n key="menu.about-project">(About-Project)</pb-i18n>
                    </a></li>
                    <li><a href="${app}/static/about-edition">
                        <pb-i18n key="menu.about-edition">(About-Edition)</pb-i18n>
                    </a></li>
                    <li><a href="${app}/static/about">
                        <pb-i18n key="menu.about">(About)</pb-i18n>
                    </a></li>
                    <li><a href="${app}/static/disclaimers">
                        <pb-i18n key="menu.disclaimers">(Impressum)</pb-i18n>
                    </a></li>
                </ul>
            </li>
        </ul>
    </pb-media-query>

    <fx-fore src="${app}/fore-search.html" data-template="pages:parse-params"></fx-fore>

    <pb-media-query class="mobile" query="max-width: 48rem">
        <details class="mobile-menu">
            <summary>
                <iron-icon icon="menu"></iron-icon>
                <iron-icon icon="close"></iron-icon>
            </summary>
            <section>
                <header><pb-i18n key="mobile.menu">Menu</pb-i18n></header>
                <div>
                    <a href="${app}/letters.html">
                        <pb-i18n key="letters">Briefe</pb-i18n>
                    </a>
                    <p><pb-i18n key="register">Register</pb-i18n></p>
                    <ul>
                        <li><a href="${app}/persons/">
                            <pb-i18n key="menu.persons">Personen</pb-i18n>
                        </a></li>
                        <li><a href="${app}/localities/">
                            <pb-i18n key="menu.localities">Orte</pb-i18n>
                        </a></li>
                        <li><a href="${app}/organizations/">
                            <pb-i18n key="menu.organizations">Institutionen / Gruppen</pb-i18n>
                        </a></li>
                        <li><a href="${app}/archives/">
                            <pb-i18n key="menu.archives">Archive</pb-i18n>
                        </a></li>
                        <li><a href="${app}/bibliography/">
                            <pb-i18n key="menu.bibliography">Bibliography</pb-i18n>
                        </a></li>
                    </ul>
                    <p><pb-i18n key="menu.about-parent">(About-Parent)</pb-i18n></p>
                    <ul>
                        <li><a href="${app}/static/about-project">
                            <pb-i18n key="menu.about-project">(About-Project)</pb-i18n>
                        </a></li>
                        <li><a href="${app}/static/about-edition">
                            <pb-i18n key="menu.about-edition">(About-Edition)</pb-i18n>
                        </a></li>
                        <li><a href="${app}/static/about">
                            <pb-i18n key="menu.about">(About)</pb-i18n>
                        </a></li>
                        <li><a href="${app}/static/disclaimers">
                            <pb-i18n key="menu.disclaimers">(Impressum)</pb-i18n>
                        </a></li>
                    </ul>
                </div>
                <pb-lang name="lang2" data-template="pages:languages"/>
            </section>
        </details>
    </pb-media-query>

    <pb-media-query style="flex:auto" class="" query="min-width: 48rem">
        <pb-lang style="margin-top: 4px;" name="lang" data-template="pages:languages"/>
    </pb-media-query>
</nav>