<nav class="menubar center-l" data-template="pages:parse-params">
    <a href="${app}/index.html" class="logo" data-template="lib:parse-params"/>
    <pb-media-query class="menubar-left desktop" query="min-width: 48.5rem">
        <a href="${app}/letters.html">
            <pb-i18n key="letters">Briefe</pb-i18n>
        </a>
        <div class="dropdown-menu">
            <div class="dropdown dropdown-register">
                <label class="menu-label" for="m-register">
                    <pb-i18n key="register">Register</pb-i18n>
                </label>
                <input id="m-register" name="register" type="checkbox"/>
                <div class="menu-list">
                    <ul>
                        <li><a href="${app}/persons/">
                            <pb-i18n key="persons">Personen</pb-i18n>
                        </a></li>
                        <li><a href="${app}/localities/">
                            <pb-i18n key="localities">Orte</pb-i18n>
                        </a></li>
                        <li><a href="${app}/institutions/">
                            <pb-i18n key="institutions">Institutionen</pb-i18n>
                        </a></li>
                        <li><a href="${app}/archives/">
                            <pb-i18n key="archives">Archive</pb-i18n>
                        </a></li>
                        <li><a href="${app}/groups/">
                            <pb-i18n key="groups">Gruppen</pb-i18n>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </pb-media-query>

    <fx-fore src="${app}/fore-search.html" data-template="pages:parse-params"></fx-fore>

    <pb-media-query class="mobile" query="max-width: 48rem">
        <details class="mobile-menu">
            <summary>
                <iron-icon icon="menu"></iron-icon>
                <iron-icon icon="close"></iron-icon>
            </summary>
            <section>
                <header><pb-i18n key="mobile.menu">Menu</pb-i18n></header>
                <div>
                    <a href="${app}/letters.html">
                        <pb-i18n key="letters">Briefe</pb-i18n>
                    </a>
                    <p><pb-i18n key="register">Register</pb-i18n></p>
                    <ul>
                        <li><a href="${app}/persons/">
                            <pb-i18n key="persons">Personen</pb-i18n>
                        </a></li>
                        <li><a href="${app}/localities/">
                            <pb-i18n key="localities">Orte</pb-i18n>
                        </a></li>
                        <li><a href="${app}/institutions/">
                            <pb-i18n key="institutions">Institutionen</pb-i18n>
                        </a></li>
                        <li><a href="${app}/archives/">
                            <pb-i18n key="archives">Archive</pb-i18n>
                        </a></li>
                        <li><a href="${app}/groups/">
                            <pb-i18n key="groups">Gruppen</pb-i18n>
                        </a></li>
                    </ul>
                </div>
            </section>
        </details>
    </pb-media-query>
</nav>