<html data-template="lib:parse-params">
    <head data-template="lib:include" data-template-path="templates/header.html">
        <title data-target="title-template" data-template-page="persons">Bullinger Digital: Personen</title>
        <meta data-target="title-template" name="pb-template" content="persons.html"/>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" require-language="require-language"
        locale-fallback-ns="app" unresolved="unresolved" api-version="1.0.0">
            <header class="top-header">
                <nav data-template="lib:include" data-template-path="templates/menu.html"></nav>
            </header>
            <main class="center-l people register">
                <div class="register-list">
                    <h1><pb-i18n key="menu.persons">(Personen)</pb-i18n></h1>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const radios = document.querySelectorAll('pb-custom-form input[type="radio"]');
                            radios.forEach(radio => {
                                radio.addEventListener('change', function() {
                                    const form = document.querySelector('pb-custom-form');
                                    form.submit()
                                });
                            });
                        });
                    </script>
                    <pb-custom-form class="facets" event="pb-results-received" subscribe="grid" emit="grid">
                        <div class="radios">
                            <label>
                                <input type="radio" name="view" checked="checked" value="all" data-template="templates:form-control"/> <pb-i18n key="registers.correspondentsAndMentioned">(Korrespondenten und erwähnte Personen)</pb-i18n>
                            </label>
                            <label>
                                <input type="radio" name="view" value="correspondents" data-template="templates:form-control"/> <pb-i18n key="registers.correspondents">(Korrespondenten)</pb-i18n>
                            </label>
                        </div>
                    </pb-custom-form>
                    <pb-table-grid source="api/persons-all-list" resizable="" emit="grid" search="" subscribe="grid" per-page="15">
                        <pb-table-column label="Vorname" property="forename" sort=""></pb-table-column>
                        <pb-table-column label="Nachname" property="surname" sort=""></pb-table-column>
                        <pb-table-column label="Gesendet" property="sent-count" sort=""></pb-table-column>
                        <pb-table-column label="Empfangen" property="received-count" sort=""></pb-table-column>
                    </pb-table-grid>
                </div>
            </main>
        </pb-page>
        <footer data-template="templates:include" data-template-path="templates/footer.html"/>
    </body>

</html>