<html>
    <head data-template="lib:include" data-template-path="templates/header.html">
        <title data-target="title-template" data-template-page="search">Search</title>
        <meta data-target="title-template" name="pb-template" content="search.html"/>    
    </head>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json" locale-fallback-ns="app">
            <header>
                <nav data-template="lib:include" data-template-path="templates/menu.html" />                
            </header>
            <main>
                <div class="searchWrapper">
                    <div class="search-panel">
                        <paper-card>
                            <div class="card-content">
                                <pb-search id="search-form" subscribe="search" data-template="lib:parse-params" value="${query}" submit-on-load="submit-on-load">
                                    <div class="targets">
                                        <paper-checkbox name="field" value="text">Search sections</paper-checkbox>
                                        <paper-checkbox name="field" value="head">Search headings</paper-checkbox>
                                    </div>
                                    <pb-custom-form id="facets" url="api/search/facets" subscribe="results" event="pb-results-received" emit="search"/>
                                </pb-search>
                            </div>
                        </paper-card>
                    </div>
                    <pb-load id="results" url="api/search" emit="results"/>
                </div>
            </main>
            <footer data-template="lib:include" data-template-path="templates/footer.html"/>
        </pb-page>
        <script>
            const facets = document.getElementById('facets');
            if (facets) {
                facets.addEventListener('pb-custom-form-loaded', function(ev) {
                    const elems = ev.detail.querySelectorAll('.facet');
                    elems.forEach(facet =&gt; {
                        facet.addEventListener('change', () =&gt; {
                            const table = facet.closest('table');
                            if (table) {
                                const nested = table.querySelectorAll('.nested .facet').forEach(nested =&gt; {
                                    if (nested != facet) {
                                        nested.checked = false;
                                    }
                                });
                            }
                            facets._submit();
                        });
                    });
                });
            }
        </script>
    </body>
</html>